<!DOCTYPE html>

<html>
<head>
    <title>FSInventory Manager 1.0.0</title>
    @*@Url.CombresLink("siteCss")
    @Url.CombresLink("siteJs")*@
    @*<link rel="shortcut icon" href="stocks-icone.ico" />*@
</head>
<body @*style="background: url(../../Content/Images/bdCenter.png)"*@>
@Html.X().ResourceManager().Theme(Theme.Default).ShowWarningOnAjaxFailure(false).ScriptMode(Ext.Net.ScriptMode.Release)

</body>
</html>