
@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NoBussinessDayOpen</h2>
@section content{
    <h1>Sorry No Bussiness Day is Opened!</h1>
    <h2>See Administrator for more details.</h2>
}

