@using Ext.Net.MVC;
@using Ext.Net.Utilities;
@using Ext.Net;
@using FatSodDental.UI.Tools;
@using FatSod.Security.Entities;
@using FatSod.Ressources;
@using FatSod.DataContext.Initializer;

@model System.Collections.IEnumerable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var X = Html.X();
    var profile = (int)Session["UserProfile"];
    var user = (int)Session["UserID"];
    var db = new FatSod.DataContext.Concrete.EFDbContext();
}

@section content
{

    @(X.FormPanel()
        .ID("Unknow")
            //.Title(Resources.FormUserAddTitle)
        .Items(
             X.PanelTitle()
              .ID("PanelTitl555e")
              .Border(true)
              .Padding(2)
              .Content(
            @<header>
                <h4>@Resources.Country</h4>
                <h6>@Resources.RequireField <code>(*)</code>.</h6>
            </header>
                               )
                            )
                            .Frame(true)
                            .MarginSpec("-50 20 20 20")
                            .BodyPadding(10)
    )
    @(
 X.Container()
             .Layout(LayoutType.HBox)
             .MarginSpec("-40 10 10 10")
             .Items(
                X.FieldSet()
                 .Flex(1)
                 .Layout(LayoutType.Anchor)
                 .Border(false)
                 .DefaultAnchor("100%")
                 .Items(
                        X.FormPanel()
                                .ID("CountryForm")
                                .Title(Resources.Country)
                                .Frame(true)
        //.MarginSpec("0 20 20 20")
                                .Width(350)
                                .BodyPadding(10)
                                .FieldDefaults(fd => { fd.LabelWidth = 120; fd.LabelStyle = "color:#0094ff;padding-left:4px;"; })
                                .Buttons(
                                    X.Button()
                                        .ID("btnSave")
                                        .Text(Resources.SaveButton)
                                        .Disabled(true)
                                        .Icon(Icon.Add)
                                        .Margin(5)
                                        .DirectEvents(de =>
                                        {
                                            de.Click.Url = Url.Action("AddCountry", "Parameter");
                                            de.Click.EventMask.ShowMask = true;
                                            de.Click.EventMask.Msg = Resources.EventMaskMsg;
                                            //de.Click.Before = @"if (!#{CountryForm}.getForm().isValid()) { return false; }";
                                        }),

                                    X.Button()
                                     .Text(Resources.ResetButton)
        //.Margin(10)
                                        .MarginSpec("0 20 10 10")
                                        .OnClientClick("this.up('form').reset();")
                                )
                                .Listeners(
                                    ls =>
                                    {
                                        ls.FieldChange.Handler = "if(App.CountryForm.isValid()){App.btnSave.setDisabled(false);}else{App.btnSave.setDisabled(true);}";
                                    }
                                )
                                .Items(
                                    X.Container()
                                        .Layout(LayoutType.HBox)
        //.MarginSpec("0 0 10")
                                        .Items(
                                            X.FieldSet()
                                                .Flex(1)
                                                .Title("Identification")
                                                .Layout(LayoutType.Anchor)
                                                .Height(130)
                                                .Width(130)
                                                .DefaultAnchor("80%")
                                                .Items(
                                                    X.TextField().Name("CountryID").ID("CountryID").Hidden(true),
                                                    X.TextField().FieldLabel(Resources.PersonName)
                                                                 .Name("CountryLabel")
                                                                 .MsgTarget(MessageTarget.Side)
                                                                 .LabelSeparator("  <span style = \"color : #ff0000; font-size: 1em;\"> * </span> :")
                                                                 .ID("CountryLabel")
                                                                 .BlankText(Resources.PersonName + " " + Resources.RequiredField)
                                                                 .AllowBlank(false).MinLength(4)
                                                    ,
                                                    X.TextField().FieldLabel("Code")
                                                        .Name("CountryCode")
                                                        .ID("CountryCode")
                                                        .LabelSeparator("  <span style = \"color : #ff0000; font-size: 1em;\"> * </span> :")
                                                        .BlankText("Code " + Resources.RequiredField)
                                                        .AllowBlank(false)
                                                ),

                                           X.Component().Width(5)
                                        )
                                )
                 )

             ,
        ////
             X.FieldSet()
              .Flex(1)
              .Layout(LayoutType.Anchor)
              .Border(false)
              .DefaultAnchor("100%")
              .Items(

                    Html.X().GridPanel()
                            .Title(Resources.CountryList)
                            .ID("CountryList")
                            .Layout(LayoutType.Fit)
        //.MarginSpec("0 20 20 20")
                            .Frame(true)
                            .Collapsible(true)
                            .Store(Html.X().Store()
                                .GroupField("Light")
                                .ID("CountryStore")
                                .Proxy(
                                   X.AjaxProxy()
                                    .Url(Url.Action("GetCountrysList"))
                                    .ActionMethods(ac => ac.Read = HttpMethod.POST)
                                    .Reader(X.JsonReader().RootProperty("data"))
                                )
                                .AutoLoad(true)
                                .Model(Html.X().Model()
                                    .Fields(
                                        new ModelField() { Name = "CountryID", Type = ModelFieldType.Int },
                                        new ModelField() { Name = "CountryCode", Type = ModelFieldType.String },
                                        new ModelField() { Name = "CountryLabel", Type = ModelFieldType.String }


                                    )
                                ).DataSource(Model)
                            )

                            .ColumnModel(
                                Html.X().Column()
                                        .Text("Identifiant")
                                        .DataIndex("CountryID")
                                        .Flex(1)
                                        ,
                                Html.X().Column()
                                    .Text("Code")
                                    .DataIndex("CountryCode")
                                    .Flex(1)
                                    ,
                                Html.X().Column()
                                    .Text(Resources.PersonName)
                                    .DataIndex("CountryLabel")
                                    .Flex(1),

                                Html.X().ImageCommandColumn()
                                            .Width(30)
											.Hidden(LoadAction.IsSubMenuActionAble(MenuAction.DELETE, profile,CodeValue.Parameter.COUNTRYCODE,db))
                                            .Commands(
                                                Html.X().ImageCommand()
                                                    .CommandName("Delete")
                                                    .IconCls("icon-delete")
        
                                            )
                                            .DirectEvents(de =>
                                            {
                                                de.Command.Action = "DeleteCountry";
                                                de.Command.Confirmation.ConfirmRequest = true;
                                                de.Command.Confirmation.Message = "Voulez vous supprimer ?";
                                                de.Command.Confirmation.Title = "Opération de suppression";
                                                de.Command.ExtraParams.Add(new Parameter("ID", "record.data.CountryID", ParameterMode.Raw));
                                                de.Command.EventMask.ShowMask = true;
                                                de.Command.EventMask.Msg = "Opération en cours...";
                                            }),
                                Html.X().ImageCommandColumn()
                                        .Width(30)
										.Hidden(LoadAction.IsSubMenuActionAble(MenuAction.UPDATE, profile, CodeValue.Parameter.COUNTRYCODE,db))
                                        .Commands(
                                        Html.X().ImageCommand()
                                                .CommandName("Edit")
                                                .IconCls("icon-edit")
                                                .ToolTip(tt => tt.Text = "Modifier ?")
                                        )

                                        .DirectEvents(de =>
                                        {
                                            de.Command.Action = "UpdateCountry";
                                            de.Command.ExtraParams.Add(new Parameter("ID", "record.data.CountryID", ParameterMode.Raw));
                                            de.Command.EventMask.ShowMask = true;
                                            de.Command.EventMask.Msg = "Chargement des paramètres de modification en cours...";
                                        })


                                )
                                .BottomBar(
                                     Html.X().PagingToolbar()
                                )
                       )
                 )
    )
}