@using Ext.Net.MVC;
@using Ext.Net.Utilities;
@using Ext.Net;
@using FatSodDental.UI.Tools;
@using FatSod.Supply.Entities;
@using FatSod.DataContext.Initializer;
@using FatSod.Ressources;

@model System.Collections.IEnumerable

@{
    var profile = (int)Session["UserProfile"];
    var user = (int)Session["UserID"];

    //ViewBag.Title = FatSod.Ressources.Resources.Product;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var X = Html.X();
    var db = new FatSod.DataContext.Concrete.EFDbContext();

    string fieldChangeListener = @"
/*
                                    var cylVal = App.LensNumberCylindricalValue.getValue();
                                    var sphVal = App.LensNumberSphericalValue.getValue();
                                    var addVal = App.LensNumberAdditionValue.getValue();
                                    var a = ( (cylVal != null && cylVal.length >= 4 ) || (sphVal != null && sphVal.length >= 4));
*/
                                    if(App.LensForm.isValid()/* && a == true*/ ){App.btnSave.setDisabled(false);}else{App.btnSave.setDisabled(true);}


                                  ";

}

@section content
{
    @(


        //Début du FormPanel
            X.FormPanel()
        //paramétrages du formpanel
                .ID("LensForm")
                .Collapsible(true)
                .Title(FatSod.Ressources.Resources.ProductAddTitle)
                .Frame(true)
                .MarginSpec("0 0 10 0")
                .BodyPadding(10)
                .FieldDefaults(fd => { fd.LabelWidth = 120; fd.LabelStyle = "color:#0094ff;padding-left:4px;"; fd.LabelSeparator = "<span style = \"color : #ff0000; font-size: 1em;\"> * </span> : "; })
        //buttons enregistrer et Réinitialiser
                .Buttons(
        //buttons enregistrer
                    X.Button()
                        .ID("btnSave")
                        .Text(FatSod.Ressources.Resources.SaveButton)
                        .Disabled(true)
                        .Icon(Icon.Disk)
                        .Margin(10)
        //.DirectClickAction(addAction),
                            .DirectEvents(
                                de =>
                                {
                                    de.Click.Url = Url.Action("AddRange");
                                    de.Click.EventMask.ShowMask = true;
                                    de.Click.EventMask.Msg = FatSod.Ressources.Resources.EventMaskMsg;
                                }
                            ),
        //buttons Réinitialiser
                        X.Button()
                            .ID("btnReset")
                            .Text(FatSod.Ressources.Resources.ResetButton)
                            .Icon(Icon.ArrowRefresh)
                            .MarginSpec("0 20 10 10")
                            .DirectEvents(
                                    de =>
                                    {
                                        de.Click.Url = Url.Action("reset");
                                        de.Click.EventMask.ShowMask = true;
                                        de.Click.EventMask.Msg = FatSod.Ressources.Resources.EventMaskMsg;
                                    }
                            )
                    )
        //listeners du formpanel
                    .Listeners(
                        ls =>
                        {
                            ls.FieldChange.Handler = fieldChangeListener;
                            ls.AfterRender.Handler = fieldChangeListener;
                        }
                     )
        //les champs de saisie du formulaire
                     .Items(
                        X.Container()
                            .Layout(LayoutType.VBox)
                            .MarginSpec("0 0 0 0")
                            .Items(//container des fieldsets
                                     X.FieldSet()
                                            .ID("LensCriteriaFieldset")
                                            .MarginSpec("0 0 0 400")
                                            .Title("Lens Categorie")
                                            .Layout(LayoutType.Anchor)
                                            .Height(75)
                                            .Width(450)
        //.DefaultAnchor("100%")
                                            .Items(//Début de LensCriteriaFieldset

                                                X.ComboBox()
                                                    .ID("LensCategoryID")
                                                    .Name("LensCategoryID")
                                                    .FieldLabel(FatSod.Ressources.Resources.Categories)
                                                    .Items(/*Model.Categories*/LoadComponent.GetLensCategories())
                                                    .ValueField("CategoryID")
                                                    .AllowBlank(false)
                                                    .Width(400)
                                                    .ForceSelection(true)//cette propriété empeche à l'utilisateur de soumettre le formulaire avec un contenu différent de ce qui est dans la liste déroulante
                                                    .EmptyText(FatSod.Ressources.Resources.Choice)

                                                ),//Fin de LensCriteriaFieldset

                                X.Component().Width(10),//Espace entre les fieldsets

                                X.FieldSet()
                                    .ID("NumberRanges")
        //.Flex(1)
                                    //.Width(300)
                                    .Title("Number Ranges")
                                    .Layout(LayoutType.HBox)
                                    .MarginSpec("0 0 0 0")
                                    //.Height(125)
        //.DefaultAnchor("100%")
                                    .Items(//Début de GeneralInformationFieldset

                                            X.FieldSet()
                                        .ID("SphericalRange")
        //.Flex(1)
                                        .Width(300)
                                        .Title("Spherical Range")
                                        .Layout(LayoutType.Anchor)
                                        .Height(125)
        //.DefaultAnchor("100%")
                                        .Items(//Début de GeneralInformationFieldset
                                            
                                            //label
                                            X.TextField()
                                                .ID("SphMin")
                                                .Name("SphMin")
                                                .FieldLabel("Minimum")
                                                .MsgTarget(MessageTarget.Side)//le lieu d'affichage du message d'erreur lié à un défaut de validation
                                                .LabelSeparator("  <span style = \"color : #ff0000; font-size: 1em;\"> * </span> :") //séparateur entre le texte du label et la zone de saisie
                                                .BlankText(FatSod.Ressources.Resources.InputBlankTextMessage)//message qui sera afficher si le champ reste vide
                                                .AllowBlank(true),//dit si oui ou non le champ peut etre vide
        //code
                                            X.TextField()
                                                .ID("SphMax")
                                                .Name("SphMax")
                                                .FieldLabel("Maximum")
                                                .MsgTarget(MessageTarget.Side)//le lieu d'affichage du message d'erreur lié à un défaut de validation
                                                .LabelSeparator("  <span style = \"color : #ff0000; font-size: 1em;\"> * </span> :")
                                                .BlankText(FatSod.Ressources.Resources.InputBlankTextMessage)//message qui sera afficher si le champ reste vide
                                                .AllowBlank(true)//dit si oui ou non le champ peut etre vide
                                            ),
                                            
                                     

                                X.Component().Width(10),//Espace entre les fieldsets

                                
                                            
                                            
                                            
                                            X.FieldSet()
                                        .ID("CylindricalRange")
        //.Flex(1)
                                        .Width(300)
                                        .Title("Cylindrical Range")
                                        .Layout(LayoutType.Anchor)
                                        .Height(125)
        //.DefaultAnchor("100%")
                                        .Items(//Début de GeneralInformationFieldset
                                            
                                            //label
                                            X.TextField()
                                                .ID("CylMin")
                                                .Name("CylMin")
                                                .FieldLabel("Minimum")
                                                .MsgTarget(MessageTarget.Side)//le lieu d'affichage du message d'erreur lié à un défaut de validation
                                                .LabelSeparator("  <span style = \"color : #ff0000; font-size: 1em;\"> * </span> :") //séparateur entre le texte du label et la zone de saisie
                                                .BlankText(FatSod.Ressources.Resources.InputBlankTextMessage)//message qui sera afficher si le champ reste vide
                                                .AllowBlank(true),//dit si oui ou non le champ peut etre vide
        //code
                                            X.TextField()
                                                .ID("CylMax")
                                                .Name("CylMax")
                                                .FieldLabel("Maximum")
                                                .MsgTarget(MessageTarget.Side)//le lieu d'affichage du message d'erreur lié à un défaut de validation
                                                .LabelSeparator("  <span style = \"color : #ff0000; font-size: 1em;\"> * </span> :")
                                                .BlankText(FatSod.Ressources.Resources.InputBlankTextMessage)//message qui sera afficher si le champ reste vide
                                                .AllowBlank(true)//dit si oui ou non le champ peut etre vide
                                            ),

                                                 X.Component().Width(10),//Espace entre les fieldsets
                                            
                                            X.FieldSet()
                                        .ID("AdditionRange")
        //.Flex(1)
                                        .Width(300)
                                        .Title("Addition Range")
                                        .Layout(LayoutType.Anchor)
                                        .Height(125)
        //.DefaultAnchor("100%")
                                        .Items(//Début de GeneralInformationFieldset
                                            
                                            //label
                                            X.TextField()
                                                .ID("AddMin")
                                                .Name("AddhMin")
                                                .FieldLabel("Minimum")
                                                .MsgTarget(MessageTarget.Side)//le lieu d'affichage du message d'erreur lié à un défaut de validation
                                                .LabelSeparator("  <span style = \"color : #ff0000; font-size: 1em;\"> * </span> :") //séparateur entre le texte du label et la zone de saisie
                                                .BlankText(FatSod.Ressources.Resources.InputBlankTextMessage)//message qui sera afficher si le champ reste vide
                                                .AllowBlank(true),//dit si oui ou non le champ peut etre vide
        //code
                                            X.TextField()
                                                .ID("AddMax")
                                                .Name("AddMax")
                                                .FieldLabel("Maximum")
                                                .MsgTarget(MessageTarget.Side)//le lieu d'affichage du message d'erreur lié à un défaut de validation
                                                .LabelSeparator("  <span style = \"color : #ff0000; font-size: 1em;\"> * </span> :")
                                                .BlankText(FatSod.Ressources.Resources.InputBlankTextMessage)//message qui sera afficher si le champ reste vide
                                                .AllowBlank(true)//dit si oui ou non le champ peut etre vide
                                            )
                                            
                                               )     
                                        
                                        )@*début du box contenant code et libellé*@

)//Fin de GeneralInformationFieldset


                                @*Fin du FormPanel*@
    )
    @*fin de la partie formulaire*@

    @*Début du tableau*@
    @(Html.X().GridPanel()
        .Title(FatSod.Ressources.Resources.LensList)
        .ID("ProductList")
        .Layout(LayoutType.Fit)
        .Padding(10)
        .Frame(true)
        .Collapsible(true)
        .AutoScroll(true)
        .Store(
            Html.X().Store()
                .ID("ProductListStore")
                .AutoLoad(true)
                .RemotePaging(true)
                .PageSize(10)
                .GroupField("Light")
                .DataSource(Model/*.Products*/)
                .Model(Html.X().Model()
                    .Fields(
                        new ModelField() { Name = "ProductID", Type = ModelFieldType.Int },
                        new ModelField() { Name = "ProductCode", Type = ModelFieldType.String },
                        new ModelField() { Name = "ProductLabel", Type = ModelFieldType.String },
                        new ModelField() { Name = "CategoryLabel", Type = ModelFieldType.String },
                        new ModelField() { Name = "AccountLabel", Type = ModelFieldType.String },
                        new ModelField() { Name = "ProductDescription", Type = ModelFieldType.String },
                        new ModelField() { Name = "LensMaterialCode", Type = ModelFieldType.String },
                        new ModelField() { Name = "LensCoatingCode", Type = ModelFieldType.String },
                        new ModelField() { Name = "LensColourCode", Type = ModelFieldType.String },
                        new ModelField() { Name = "LensNumberFullCode", Type = ModelFieldType.String }
                    )
                )
            .ServerProxy(X.AjaxProxy()
                .Url(Url.Action("GetAllProducts"))
                .ActionMethods(ac => ac.Read = HttpMethod.POST)
                .Reader(X.JsonReader().RootProperty("data"))
            ))

        .ColumnModel(
            Html.X().Column()
                    .Width(500)
                    .Text(FatSod.Ressources.Resources.Code)
                    .DataIndex("ProductCode")
                    .Flex(1)
                    ,

            Html.X().Column()
                .Text(FatSod.Ressources.Resources.Label)
                .DataIndex("ProductLabel")
                .Flex(1),
            Html.X().Column()
                    .Text(FatSod.Ressources.Resources.Category)
                    .DataIndex("CategoryLabel")
                    .Flex(1),
            Html.X().Column()
                .Text(FatSod.Ressources.Resources.AccountNumber)
                .DataIndex("AccountLabel")
                .Flex(1),
            Html.X().Column()
                .Text(FatSod.Ressources.Resources.Description)
                .DataIndex("ProductDescription")
                .Flex(1),

            //Html.X().Column()
            //    .Text(FatSod.Ressources.Resources.LensMaterialCode)
            //    .DataIndex("LensMaterialCode")
            //    .Flex(1),
            //Html.X().Column()
            //    .Text(FatSod.Ressources.Resources.LensCoatingCode)
            //    .DataIndex("LensCoatingCode")
            //    .Flex(1),
            //Html.X().Column()
            //    .Text(FatSod.Ressources.Resources.LensColourCode)
            //    .DataIndex("LensColourCode")
            //    .Flex(1),
            Html.X().Column()
                .Text(FatSod.Ressources.Resources.LensNumberFullCode)
                .DataIndex("LensNumberFullCode")
                .Flex(1),

            Html.X().ImageCommandColumn()
                .Width(30)
                .Hidden(LoadAction.IsSubMenuActionAble(MenuAction.DELETE, profile, CodeValue.Supply.LensProduct_SM.CODE,db))
                .Commands(
                    Html.X().ImageCommand()
                        .CommandName("Delete")
                        .IconCls("icon-delete")
                        .ToolTip(tt =>
                            {
                                tt.Text = FatSod.Ressources.Resources.ConfirmDeleteMessage;
                                tt.Title = "Supression";
                            }
                            )
                )
                .DirectEvents(de =>
                {
                    de.Command.Action = "DeleteProduct";
                    de.Command.Method = HttpMethod.POST;
                    de.Command.Confirmation.ConfirmRequest = true;
                    de.Command.Confirmation.Message = FatSod.Ressources.Resources.ConfirmDeleteMessage;
                    de.Command.Confirmation.Title = FatSod.Ressources.Resources.ConfirmDeleteTitle;
                    de.Command.ExtraParams.Add(new Parameter("ProductID", "record.data.ProductID", ParameterMode.Raw));
                    de.Command.EventMask.ShowMask = true;
                    de.Command.EventMask.Msg = FatSod.Ressources.Resources.EventMaskMsg;
                })/*,
            Html.X().ImageCommandColumn()
                .Width(30)
                .Hidden(LoadAction.IsSubMenuActionAble(MenuAction.UPDATE, profile, CodeValue.Supply.LensProduct_SM.CODE))
                .Commands(
                Html.X().ImageCommand()
                        .CommandName("Edit")
                        .IconCls("icon-edit")
                        .ToolTip(tt => tt.Text = "Modifier ?")
                )

                .DirectEvents(de =>
                {
                    de.Command.Action = "UpdateProduct";
                    de.Command.Method = HttpMethod.GET;
                    de.Command.ExtraParams.Add(new Parameter("ProductID", "record.data.ProductID", ParameterMode.Raw));
                    de.Command.EventMask.ShowMask = true;
                    de.Command.EventMask.Msg = FatSod.Ressources.Resources.EventMaskUpdate;
                })*/
            )
            .Plugins(
            X.FilterHeader()
            )
            .BottomBar(
                    X.PagingToolbar()
            )
    )
    @*Fin du tableau*@
  }  